div{
    background-color: lightblue;
}

main{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    padding: 10px;
}
.first {
    grid-column: 2/4;
}
.second {
    grid-column: 1/-1;
}
.third {
    background-color: purple;
    grid-column: 1/-1;
}
.fourth {
    grid-column: 6/-1;
    font-weight: bold;
}

section{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    padding: 10px;
}    
.red {
    background-color: red;
    grid-column: 1/-1;
}
.yellow {
    background-color: yellow;
    grid-column: 1/-1;
}
.blue {
    background-color: blue;
    grid-column: 1/6;
}
.black {
    background-color: black;
    grid-column: 6/-1;
}