<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="funstyle.css"
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="basics.html">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Yogurt</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, vitae necessitatibus. Rerum delectus omnis laudantium at laboriosam iure voluptatum voluptatem. Repellat voluptates minima nam beatae omnis impedit quibusdam unde. Aspernatur.</p>
            <p class="flavors">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, in. Totam et, accusamus unde cum officia eligendi omnis. Pariatur minus inventore eveniet minima, magni sequi nihil porro! Corrupti, nemo ad!</p>
            <p id="cultures">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique minima sed atque illum sit velit architecto obcaecati at cum officia voluptatibus nihil, explicabo excepturi ut. Debitis molestiae mollitia odit excepturi.</p>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>