body {
    background-color: rgb(83, 148, 222);
    font-family: 'Arial Narrow', Arial, sans-serif;
}
img {
    border-radius: 100%;
    width: 150px;
    
}
header {
    display: flex;
    padding: 10px;
    background-color: rgb(229, 159, 118);
    border-radius: 30px;

}
.site-header-text {
    align-content: center;
    margin: 0 auto;
}
header h1 {
    text-align: center;
    margin: 0;
    /* padding-top: 50px; */
    font-size: 45px;

}
header h3 {
    text-align: center;
}
nav a {
    background-color: rgb(146, 187, 95);
    padding: 5px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    font-size: 40px;
}
nav {
    display: grid;
    gap: 10px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
}
body h5 {
    text-align: center;
    padding: 5px;
    font-size: 21px;
    color: white;
}
button a {
    color: black;
    text-decoration: none;
    text-shadow: none;
}
table, th, td {
    border: 2px solid black;
}
.profilepic {
    width: 300px;
    border-radius: 5%;
    text-align: center;
}
.profilepicoverview {
    width: 100px;
    border-radius: 5%;
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.welcomemsg {
    text-align: center;
    color: white;
    font-size: 25px;
}
.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    text-decoration: none;
}
.footer ul {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}
.footer li {
    margin: 5px 0;
    text-decoration: none;
}
ul {
    list-style-type: none;
}