body {
    background-color: orange;
}
img {
    border-radius: 100%;
    width: 50px;
    
}
header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    padding: 10px;
}
header h1 {
    text-align: center;
    margin: 0;
}
nav a {
    background-color: lightgray;
    padding: 5px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    font-size: 40px;
}
main a {
    background-color: lightblue;
}
nav {
    display: grid;
    gap: 10px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
}
body h5 {
    text-align: center;
    padding: 5px;
    font-size: 21px;
}
button a {
    color: black;
    text-decoration: none;
    text-shadow: none;
}
.profilepic {
    width: 300px;
    border-radius: 5%;
}
.profilepicoverview {
    width: 100px;
    border-radius: 5%;
    display: grid;
    grid-template-columns: 1fr 6fr;
}