/* Add your CSS here to style your halloween page */
h1, h2 {
    font-family: 'Creepster', cursive;
    color: orange;
    font-size: 60px;
}
img {
    grid-template-columns: 1fr 9fr;
    border: 5px solid black;
    border-radius: 10px;
    width: 900px;
    box-shadow: 10px 10px 5px grey;
}
body {
    background-color: black;
    color: red;
    text-align: center;
}
a {
    color: orange;
    font-weight: bold;
}
p:hover {
    font-size: 30px;
}
footer {
    background-color: orange;
    color: black;
    padding: 10px;
    bottom: 0;
    width: 100%;
    border-radius: 10%;
}

img:hover {
    transform: scale(2.1);
    transition: transform 0.3s;
}
nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}